/* PAGE */





li {
    list-style: none;
}

/* HEADER ////////////////////////////////////////////////////////////////////////////*/
header {

    display: flex;
    color: rgb(17, 13, 13);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 60px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav__item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.nav__item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
}

.adress {
    text-decoration: none;
    color: rgb(59, 55, 55);
}

.adress__icon {
    width: 20px;
}

.info {
    padding-left: 110px;
    ;
}

.info_list {
    color: rgb(59, 55, 55);
}




/* MAIN ////////////////////////////////////////////////////////////////////////////*/
main {
    display: flex;
    /* align-items: center; */
    padding-left: 20px;
    padding-right: 50px;
    justify-content: space-between;
    padding-bottom: 200px;
}

table,
td,
th {
    border: 1px solid black;
    float: center;
}

th {
    padding: 5px;
}

section {
    padding-top: 200px;
}

.vid {
    max-width: 45%;
    display: flex;
    flex-direction: column;
}

.vb {
    float: center;
}

video {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.mask {
    position: absolute;
    width: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}

article {
    float: center;
    padding-right: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

/* ASIDE ////////////////////////////////////////////////////////////////////////////*/
aside {
    float: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding: 20px;
    padding-top: 200px;
}

form {
    float: center;
    display: flex;
    flex-direction: column;
}

div {
    float: center;
    display: flex;
    flex-direction: column;
}

/* FOOTER ////////////////////////////////////////////////////////////////////////////*/
footer {
    background-color: rgb(17, 17, 17);
    width: 100%;
    text-align: center;
    color: azure;
    padding: 10px 0;
    position: absolute;
    left: 0;
    bottom: 0;
}